@import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
    background: #b3d8e8;
    padding:0;
    margin: 0;
}
.navigation {
    margin: 0;
    padding: 0;
}



nav {
    background: #e6f7e8;
    height: 70px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom:10px;
}

/*column of the survey film posters, use 100/no of cols perctange for width*/
.column {
  display: flex;
}

/* show row of the survey posters
.posterrow::after {
  content: "";
  clear: both;
  display: table;
}*/

.checked {
  color: blue;
}

/* align stars below image */
div.stars {
    vertical-align: top;
    display: inline-block;
    align: center;
}

/* warning box its cross button and action on hover*/
.warning-box {
    background-color: red;
    padding: 15px;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    color: white;
    float: right;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}

closebtn.hover {
    color: black;
}