{% extends 'base.html' %}

{% block title %}
    Admin
{% endblock title%}

{% set active_page = 'admin'%}

{% block content %}
<h2>Survey Administration portal</h2>
<h4>Create a new study</h4>
<form class="create-study-form" id="create-study-form" name="Create" action="" method="post">
    <label for="dataset-name">Dataset Name:</label>
    <select id="dataset-name" name="datasets">
        <option value="Movielens 100K">100k</option>
        <option value="Movielens 10K"> 10k</option>
        <option value="Jester Dataset">Movielens Smallest</option>
    </select>
    <label for="algo-name">Algorithm Name:</label>
    <select id="algo-name" name="algorithms">
        <option value="svd">SVD</option>
        <option value="Baseline"> Baseline</option>
        <option value="KNN">KNN</option>
    </select>
    <br>
    <label for="input-box">Name of the study: </label>
    <input class="text-box" id="input-box" placeholder="Name" name="survey-name">
    <br>


</form>
<h4>Load from csv files to database</h4>
<form method="POST" name="populate-database">
    <input type="submit" id="submit-box" name="db-action" value="Populate Database">
</form>
<h4>Add online users to the database</h4>
<form class="add-users" id="add-users" method="post">

    <input type="submit" id="clear-box" name="db-action" value="Add Users">
</form>




<h3>Create a new Study</h3>
<p>Note: Creating a study extracts the data from csv files and populates the database. It may take several minutes</p>
<form class="row g-3">
  <div class="col-12">
    <label for="inputEmail4" class="form-label">Name of the Study</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Description of the Study</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Optional: short description of your study">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Select Algorithms (One by one, please read documentation on file restrictions)</label>
    <select id="inputState" class="form-select">
      <option selected> SVD</option>
      <option>KNN</option>
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Activate the study
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>




{% endblock content %}