{% extends 'base.html' %}
{% block title %}
    Recommendations
{% endblock title%}

{% block scripts %}
<script src="{{url_for('static', filename='handle_recom_eval.js')}}"></script>
{% endblock %}

{% block content %}
<div class="poster-and-rating">
    <ul class="posterrow">
    {% for item in poster_urls1 %}
        <li class="column">
            <p>{{item['title']}}({{item['year']}})</p>
            <img src="{{item['poster']}}" class="posters">
            <!--form class="survey-form" id="{{id}}" action="" method="post">
            <div class="rating-slider">
                    <input type="range" name="rating" min="0" max="5" step="0.5" value="2.5" class="slider" id="rating{{id}}">
                <input type="checkbox" name="no-rating" value="False" id="dontknow{{id}}">
                <label for="dontknow{{id}}">No idea</label>
                <input type="hidden" name="formtype" value="2">
                <input type="submit" class="submit-button" name="submit-rating" id="submit{{id}}" value="Submit">
            </div>
            </form-->
        </li>




    {% endfor %}
        <input type="hidden" name="reclist_id1" id="reclist_id1" value={{reclist_id1}}>


        <center>How did you find the recommendation list? Please rate from a scale of 0 to 10.</center>

        <form class="recom-rating" id="recommendation-rating-first" action="" method="post">
            <div class="rating-slider">
                <input type="range" name="rating" min="0" max="10" step="0.5" value="5" class="slider" id="slider-recom-rating" oninput="this.nextElementSibling.value = this.value">
                <output>2.5</output>
                <input type="hidden" name="formtype" value="2">
                <input type="submit" class="submit-button" name="submit-rating" id="submit{{id}}" value="Submit">
            </div>
        </form>



    <div class="poster-and-rating">
    <ul class="posterrow">
    {% for item in poster_urls2 %}
        <li class="column">
            <p>{{item['title']}}({{item['year']}})</p>
            <img src="{{item['poster']}}" class="posters">

            <!--form class="survey-form" id="{{id}}" action="" method="post">
            <div class="rating-slider">
                    <input type="range" name="rating" min="0" max="5" step="0.5" value="2.5" class="slider" id="rating{{id}}">
                <input type="checkbox" name="no-rating" value="False" id="dontknow{{id}}">
                <label for="dontknow{{id}}">No idea</label>
                <input type="hidden" name="formtype" value="2">
                <input type="submit" class="submit-button" name="submit-rating" id="submit{{id}}" value="Submit">
            </div>
            </form-->
        </li>


    {% endfor %}

        <input type="hidden" name="reclist_id2" id="reclist_id2" value={{reclist_id1}}>
        <center>How did you find the recommendation list? Please rate from a scale of 0 to 10.</center>

        <form class="recom-rating" id="recommendation-rating-second" action="" method="post">
            <div class="rating-slider">
                <input type="range" name="rating" min="0" max="10" step="0.5" value="5" class="slider" id="slider-recom-rating-2" oninput="this.nextElementSibling.value = this.value">
                <output>2.5</output>
                <input type="hidden" name="formtype" value="2">
                <input type="submit" class="submit-button" name="submit-rating" id="submit{{id}}" value="Submit">
            </div>
        </form>



</ul>
</div>
{% endblock %}