{% extends 'base.html' %}


{% block title %}
    Survey
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='handle_survey.js')}}"></script>
{% endblock %}

{% set active_page = 'survey'%}

{% block content %}
<p>
    Welcome to the survey portal.<br>
    Please rate the following movies.<br>
    Check "No idea" if you haven't yet seen the movie. <br>
    Click "Done" to finish the survey and get your recommendations.
</p>

<a href="{{url_for('main.register')}}"><button>Get recommendations</button></a>
<!--form class="done-form" id="done-form" method="post" action="{{url_for('main.register')}}">
<a href="{{url_for('main.recommend')}}"><button>Get recommendations</button></a>
<form class="done-form" id="done-form" method="post" action="{{url_for('main.recommend')}}">
    <input type="hidden" name="formtype" value="1">
    <input type="submit" class="done-button" name="done" id="done-button" value="Done">
</form-->
<form class="reset-form" id="reset-form" method="get" action="">
    <input type="hidden" name="formtype" value="3">
    <input type="submit" class="done-button" name="reset" id="reset-button" value="Reset My Ratings">
</form>

<div class="poster-and-rating">
    <ul class="posterrow">
    {% for id, val in poster_urls.items() %}
        <li class="column">
            <p>{{val['title']}}({{val['year']}})</p>
            <img src="{{val['poster']}}" class="posters">
            <form class="survey-form" id="{{id}}" action="" method="post">
            <div class="rating-slider">
                    <input type="range" name="rating" min="0" max="5" step="0.5" value="2.5" class="slider" id="rating{{id}}">
                <input type="checkbox" name="no-rating" value="False" id="dontknow{{id}}">
                <label for="dontknow{{id}}">No idea</label>
                <input type="hidden" name="formtype" value="2">
                <input type="submit" class="submit-button" name="submit-rating" id="submit{{id}}" value="Submit">
            </div>
            </form>
        </li>
    {% endfor %}



</ul>
</div>




{% endblock content %}
