{% extends 'base.html' %}


{% block title %}
    Survey
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='handle_survey.js')}}"></script>
{% endblock %}

{% set active_page = 'survey'%}

{% block content %}
<p class="survey-page-intro" id="survey-page-intro">
    Welcome to the survey portal.<br>
    Please rate the following movies.<br>
    Check "No idea" if you haven't yet seen the movie. <br>
</p>


        <div class="pg-no">
            <h4 class="text1">Image  </h4>
            <h4 class="varno" id="image-number">1</h4>
            <h4 class="text2">  of 10.</h4>
        </div>

<div class="poster-and-rating">
    <!--ul class="posterrow"-->
        <!--li class="column"-->


            <p class="title-and-year" id="title-and-year">{{poster_url['title']}} ({{poster_url['year']}})</p>
            <img src="{{poster_url['poster']}}" class="survey-poster-img" id="survey-poster">
            <form class="survey-form" id="slider-form" action="" method="post">
            <div class="rating-slider">
                <input type="range" name="rating" min="0" max="5" step="0.5" value="0" class="slider" id="rating-slider" oninput="this.nextElementSibling.value = this.value">
                <output id="rating-output">0</output>
            </div>
                <div class="no-idea-and-submit">
                    <input type="checkbox" class="no-idea" name="no-rating"  id="poster-checkbox">
                    <label for="poster-checkbox">No idea</label>
                    <input type="hidden" name="formtype" value="2">
                    <input type="hidden" name="imdb_id" id="imdbid" value="{{poster_url['imdb_id']}}">
                    <input type="submit" class="survey-submit-button" name="submit-rating" id="submit-button" value="Submit">
                </div>
            </form>
        <!--/li-->
<!--/ul-->
</div>




{% endblock content %}
